.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title {
  font-size: 3rem;
  font-weight: lighter;
  color: #4a2878;
  font-family: "Gayathri";
}

.subtitle {
  font-size: 1rem;
  color: #5c5c5c;
  margin-top: px;
  font-style: italic;
}

.googlePlay,
.appStore {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #5a3d91;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.googlePlay:hover,
.appStore:hover {
  background: #4a2878;
}

.googlePlay img,
.appStore img {
  width: 20px;
}
