@import "tailwindcss";
@import "@fontsource/knewave";
@import "@fontsource/gayathri"; /* Mặc định Regular */
@import "@fontsource/holtwood-one-sc";
@import "@fontsource/source-serif-pro";
@import "@fontsource/solitreo";
@import "react-datepicker/dist/react-datepicker.css";

html,
body {
  overflow-x: hidden;
}
/* Thanh scroll tổng thể */
::-webkit-scrollbar {
  width: 10px; /* Độ rộng thanh cuộn */
  height: 8px; /* Chiều cao khi là thanh ngang */
}

/* Phần nền thanh scroll */
::-webkit-scrollbar-track {
  background: #58565a2c; /* Màu nền */
}

/* Thanh cuộn chính */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8138c5, #5101b9); /* Gradient màu */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

/* Khi hover vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2575fc, #6a11cb);
}
